.gallery {
    margin: 24px 0;
    padding-bottom: 12px;
    background-color: #eee;
}

.cell {
    width: 50%;
    float: left;
}

.cell:nth-child(even) {
    float: right;
}

.clear {
    clear: both;
}
